.weather-info p {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
} 

body {
    background-image: url("bg.image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    margin: 0;
}

.card {
    margin-top: 15rem;
    margin-left: 22%;
    border-radius: 10px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(177, 212, 224,0.4);
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2); 
    color: #0C2D48; 
}

.weather-info {
    margin-top: 20px;
}

.weather-info p {
    margin: 5px 0;
}

#cityInput {
    background-color:#F6EEE0;
}

#weatherIcon {
    width: 7rem;
    height: 7rem;
}
